debug/
release/
ui_*
Makefile*
object_script*
*.pro.user
zh_CN.qm
config.ini
swig/bang_wrap.cxx
records/*
users.db
doc/*.html
swig/*.bat
.DS_Store
liblua5.1.dylib
font/font.ttf
OnePieceBang.pro.user*
etc/customScenes/custom_scenario.txt
*.dylib
OnePieceBang.exe
*.db
doc/references/